$phones: 767px;
$tablets: 988px;
@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: $phones) {
        @content;
    }
}

$grey: #808185;
$white: #fff;
$blue: #3B7CFF;
$yellow: #FEE600;
$yellow_hover: #ffef5e;
$black: #2B2D33;
$border_grey: #E1E1E3;
$dark_blue: #29476B;
$grey_section: #F4F4F4;
$dark_grey: #424548;