.cashback {
    position: relative;
    padding: 5% 9%;
    // padding: rem(80px) rem(130px);
    &__title {
        text-align: center;
        font-size: rem(48px);
        font-weight: 700;
        color: $black;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: rem(365px);
        height: rem(180px);
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin-top: rem(10px);
        padding: 30px;
        font-size: 24px;
        color: $white;
        &--coin {
            background: url(../img/coins.png) $dark_blue no-repeat;
            background-position: right;
        }
        &--package {
            background: url(../img/package.png) $dark_blue no-repeat;
            background-position: top right;
        }
        &--car {
            background: url(../img/car.png) $dark_blue no-repeat;
            background-position: right;
        }
    }
}

@include tablets {
    .cashback {
        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: rem(40px);
        }
    }
}

@include phone {
    .cashback {
        padding: rem(20px);
        &__item {
            margin-bottom: rem(20px);
        }
        &__title {
            font-size: rem(30px);
        }
        &__item {
            font-size: rem(22px);
        }
    }
}