.form {
    position: relative;
    padding: 5% 9%;
    // padding: rem(80px) rem(130px);
    &__title {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        color: $black;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        max-width: rem(250px);
        &-text {
            margin-left: 10px;
        }
    }
    &__place {
        width: 85%;
        height: rem(510px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border_grey;
        border-radius: 10px;
        margin: rem(40px) auto 0;
        color: $grey;
    }
}

@include tablets {
    .form {
        padding: rem(40px) 0 0;
        &__list {
            padding: 0 rem(40px);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            margin-bottom: rem(20px);
        }
        &__place {
            width: 100%;
            background: $border_grey;
            border-radius: 0;
        }
    }
}

@include phone {
    .form {
        &__title {
            font-size: rem(30px);
        }
        &__list {
            display: block;
            font-size: rem(16px);
        }
        &__place {
            font-size: rem(16px);
            border-radius: 0;
        }
    }
}